# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Server logs
logs/
*.log
npm-debug.log*

# Server environment variables
.env

# VSCode configuration
.vscode/

# Dependency directories
jspm_packages/
typings/

# macOS
.DS_Store
